<!DOCTYPE html>
<html>
  <head>
    <title>Chiffrement et Déchiffrement de Fichier</title>
  </head>
  <body>
    <h1>Chiffrement et Déchiffrement de Fichier</h1>

    <h2>Chiffrer un fichier</h2>
    <form action="/encrypt" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".json" required /><br />
      <button type="submit">Chiffrer</button>
    </form>

    <h2>Déchiffrer un fichier</h2>
    <form action="/decrypt" method="POST" enctype="multipart/form-data">
      <input type="file" name="file" accept=".zip" required /><br />
      <input
        type="password"
        name="password"
        placeholder="Mot de passe"
        required
      /><br />
      <button type="submit">Déchiffrer</button>
    </form>
  </body>
</html>
